:root {
    --bg-alpha: 0.7;
    --highlight: rgb(112, 94, 134);
    --highlight-bg: rgba(112, 94, 134, var(--bg-alpha));
    --background: rgb(145, 163, 161);
    --background-bg: rgba(145, 163, 161, var(--bg-alpha));
    --outline: rgb(15, 15, 12);
    --item: rgb(122, 128, 138);
    --fieldset: rgb(138, 175, 190);
    --fieldset-bg: rgb(138, 175, 190, var(--bg-alpha));
    --shadow-inactive: rgba(15,15,12,0.3);
    --shadow-hover: rgba(15,15,12,0.6);
    font-family: 'Montserrat', sans-serif;
    }
    .required:after { content:" *"; }
    .topnav {
      background-color: var(--outline);
      overflow: hidden;
    }

    .scrolldf {
      overflow: auto;
      white-space: nowrap;
    }

    .welcome_banner {
      background-image: linear-gradient(90deg, var(--highlight), var(--background) 80% ,var(--fieldset));
      text-align: right;
      padding: 10;
      font-size: 14px;
    }
    .welcome_banner_text{
      margin-right:20px;
      margin-top:0px;
      margin-bottom:0px
    }

    .advertise_banner_container{
      background-color: rgb(254, 255, 217);
      /* display: flex; */
      justify-content: center;
    }
    .advertise_banner {
      padding: 0.2vw;
      font-size: min(2.5vw, 10px);
      text-align: center
    }
    .advertise_banner_text a{
      color: var(--highlight);
    }
    .advertise_banner_text a:hover{
      color: var(--fieldset);
    }


    /* Style the links inside the navigation bar */
    .topnav a.title {
      transition: color 0.5s;
      float: left;
      color: var(--fieldset);
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: calc(20px + 1vw);
      letter-spacing: 0.08em;
    }
    .topnav a {
      transition: color 0.5s;
      float: right;
      color: var(--fieldset);
      text-align: center;
      vertical-align: middle;
      padding: 14px 16px;
      text-decoration: none;
      font-size: calc(15px + 0.2vw);
      margin-top: max(calc(-20px + 2vh), -12px);
      margin-bottom: max(calc(-20px + 2vh), -12px);
    }

    /* Change the color of links on hover */
    .topnav a:hover {
      background-color: var(--highlight);
      color: var(--outline);
    }

    /* Add a color to the active/current link */
    .topnav a.active {
      background-color: var(--item);
      color: var(--outline);
    }
    .topnav a.active:hover {
      color: var(--highlight);
    }

    /* Add a color to the active/current link */
    .topnav a.spacer {
      background-color: var(--outline);
      color: var(--fieldset);
    }

    .topnav a.spacer:hover {
      background-color: var(--outline);
      color: var(--fieldset);
    }
    .topnav a.title:hover {
      background-color: var(--outline);
      color:var(--item);
    }
    .topnav a.icon:hover {
      background-color: var(--outline);
      color:var(--highlight);
    }
    a.user:hover {
      color: var(--outline);
      font-size: calc(14px + 0.35vw);
    }

    /* Hide the link that should open and close the topnav on small screens */
    .topnav .icon {
      transition: 0.5s;
      display: none;
      font-size: 20px;
    }
    .user {
      transition: 0.2s;
      font-size: calc(12px + 0.25vw);
      color: black;
    }

    /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
    @media screen and (max-width: 840px) {
      .topnav a:not(.title) {display: none;}
      .topnav a.icon {
        float: right;
        display: block;
      }
    }

    /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
    @media screen and (max-width: 840px) {
      .topnav.responsive {position: relative;}
      .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
      }
      .topnav.responsive a {
        float: none;
        display: block;
        text-align: right;
      }
      .topnav.responsive #title {
        float: none;
        display: block;
        text-align: left;
      }
      a.user {
        text-decoration: none;
        color: black;
      }
      a.user:visited {
        text-decoration: none;
        color: black;
      }
    } 

    body {
      background-color: rgb(196, 193, 193); /* For browsers that do not support gradients */
      background-image: linear-gradient(90deg, var(--highlight-bg), var(--background-bg) 80% ,var(--fieldset-bg));
      margin-left:0px;
      margin-right:0px;
      margin-top:0px;
      margin-bottom:0px;
    }
    h2 {
      font-size: 280%;
      text-align: center;
      color: var(--outline);
      text-shadow: -1px -1px 6px var(--highlight);
    }
    h4 {
      font-family: 'Montserrat', sans-serif;
      font-size: 100%;
    }
    p {
      font-size: calc(10px + 0.5vh + 0.2vw);
    }
    p1 {
      font-style: italic;
      color: var(--highlight);
      padding-left: 1%;
    }
    p2 {
      padding-left: 1%;
    }
    .blocktext {
      margin-left: auto;
      margin-right: auto;
      width: calc(120px + 62vw) ;
      font-size: calc(16px + 1vw);
    }
    .blocktext-tables {
      margin-left: auto;
      margin-right: auto;
      width: calc(120px + 62vw) ;
      font-size: calc(12px + 0.5vw);
    }
    input[id=large_button]:hover { 
      box-shadow: -2px -2px 2px var(--shadow-hover);
    }
    input[id=small_button]:hover { 
      box-shadow: -2px -2px 2px var(--shadow-hover);
    }
    fieldset:hover { 
      box-shadow: -2px -2px 2px var(--shadow-hover);
    }
    legend:hover { 
      box-shadow: -2px -2px 2px var(--shadow-hover);
    }
    input[type=text]{
      transition: box-shadow 0.5s;
    }
    input[id=large_button]{
      transition: box-shadow 0.5s;
      font-size: calc(12px + 0.8vh + 0.3vw);
      margin-right:10px;
      margin-left:10px;
      margin-top:10px;
      background-color: var(--item);
      border: 2px var(--outline) solid;
      border-radius: 5px;
      box-shadow: -2px -2px 1px var(--shadow-inactive);
    }
    input[id=small_button]{
      transition: box-shadow 0.5s;
      font-size: calc(8px + 0.5vh + 0.2vw);
      background-color: var(--item);
      border: 2px var(--outline) solid;
      border-radius: 5px;
      box-shadow: -2px -2px 1px var(--shadow-inactive);
    }
    input[type=text]{
      border: none;
      border-radius: 5px;
    }
    select{
      border: none;
    }
    fieldset{
      transition: box-shadow 0.5s;
      background-color: rgb(168, 185, 191);
      float: left;
      width: 320px;
      margin: 8px;
      padding: 12px;
      box-sizing: 2px border-box;
      border: 2px solid var(--outline);
      box-shadow: -2px -2px 1px var(--shadow-inactive);
    }
    legend{
      transition: box-shadow 0.5s;
      padding: 0.2em 0.6em;
      border: 2px solid var(--outline);
      background-color: var(--item);
      font-weight: bold;
      font-style: italic;
      text-align: right;
      border-radius: 20px;
      box-shadow: -2px -2px 1px var(--shadow-inactive);
    }
    div#content {
      display: none;
    }
    div#loading {
      top: 200 px;
      margin: auto;
      position: absolute;
      z-index: 1000;
      width: 160px;
      height: 24px;
      background: url("https://thumbs.gfycat.com/ShadowyThornyGelada-size_restricted.gif") no-repeat;
      cursor: wait;
    }