<!DOCTYPE html>

<html>
<head>
  {% extends 'base.html' %}
  {% block head %}
  {% endblock %}
</head>
<body>
    {% block body %}
    <div>
        <a href='https://www.pythonanywhere.com/user/alexroy616/files/var/log/www.hbr-bot.com.error.log'>
            server log
        </a>
    </div>
    <br><br>
    <div>
    <h3 class="blocktext">
        Admin
    </h3>
    <div class='admin_viz_container'>
        <img src="static/precision_spread.png" class='admin_viz' alt="...">
        <img src="static/new_users.png" class='admin_viz' alt="...">
    </div>
    {% endblock %}
</body>
</html>
