<!DOCTYPE html>

<html>
<head>
    <title>HBR Bot</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="{{ url_for('static',filename='style.css') }}" rel="stylesheet" type="text/css">
    {% block head %}{% endblock %}
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <style>footer {width: 100%;height:130px;padding: 0;}</style>
    <!-- <style>
        /* Clear floats after the columns */
        .row:after {
        content: "";
        display: table;
        clear: both;
        }
    </style> -->
</head>
<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <hr style="border: 2px solid var(--highlight); margin:0px">
    <div class="topnav" id="myTopnav">
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
        <a class="title" href={{ url_for('index') }}><strong>HBR Bot</strong></a>
        {% if company_id %}
        <a href={{ url_for('logout', company_id=company_id) }}><i>log out</i></a>
        {% else %}
        <a href={{ url_for('login', company_id=company_id) }}><i>log in</i></a>
        {% endif %}
        <a class="spacer">|</a>
        <a {% if self._TemplateReference__context.name.rstrip('.html') == 'contact_config' %} class="active" {% endif %} href={{ url_for('contact_config', company_id=company_id) }}>configure contacts</a>
        <a {% if self._TemplateReference__context.name.rstrip('.html') == 'summary_table' %} class="active" {% endif %} href={{ url_for('summary_table', company_id=company_id) }}>projects</a>
        <a {% if self._TemplateReference__context.name.rstrip('.html') == 'map' %} class="active" {% endif %} href={{ url_for('map', company_id=company_id) }}>map</a>
        <a {% if self._TemplateReference__context.name.rstrip('.html') == 'about' %} class="active" {% endif %} href={{ url_for('about') }}>about</a>
    </div>
    <hr style="border: 2px solid black; margin:0px">
    {% block body %}{% endblock %}
    <script>
        function myFunction() {
          var x = document.getElementById("myTopnav");
          if (x.className === "topnav") {
            x.className += " responsive";
          } else {
            x.className = "topnav";
          }
        }
    </script>
</body>
<footer>
    {% block footer %}{% endblock %}
    {% if (not interact) and (not home or job_number or map) %}
    <div align="center">
        <br><br>
        <form action="/" method="GET">
            <input type="submit" id="large_button" value="GO BACK"></button>
        </form>
    </div>
    {% endif %}
</footer>
</html>