<!DOCTYPE html>

<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link href="{{ url_for('static',filename='style.css') }}" rel="stylesheet" type="text/css">
    {% block head %}{% endblock %}
</head>
<body>
    <h2>
        HBR Bot
    </h2>
    {% block body %}{% endblock %}
</body>
<footer>
    {% block footer %}
    {% if job_number or df_open %}
    <div align="center">
        <br><br>
        <form action="/" method="GET">
            <input type="submit" value="GO BACK"></button>
        </form>
    </div>
    {% endif %}
    {% endblock %}
</footer>
</html>