<!DOCTYPE html>

<html>
<head>
  {% extends 'base.html' %}
  {% block head %}
  {% endblock %}
</head>
<body>
    {% block body %}
    <br><br>
    <div class='blocktext-tables'
        <h5>
            {% if all_contacts %}
            {{all_contacts | safe}}
            {% endif %}

        </h5>
        <br><br>
        <u>
            {% if contact %} Modify {% else %} Add {% endif %} Contact
        </u>
        <br><br>
        <form action={% if update %} "/update_contact" {% else %} "/add_contact" {% endif%} method="POST">
            <input type="text" name="id" value="{{ id }}" hidden>
            <input type="text" name="name" {% if update %} value="{{ name }}" {% else %} placeholder="name" {% endif %}>
            <input type="text" name="email_address" {% if update %} value="{{ email_address }}" {% else %} placeholder="email address" {% endif %}>
            <input type="submit" id="small_button" value="{% if update %} Update {% else %} Add {% endif %}">
            <input type='text' name='company_id' value='{{ session.get("company_id") }}' hidden>
        </form>
    </div>
    <br><br>
    {% endblock %}
</body>
</html>
    