<!DOCTYPE html>

<html>
<head>
  {% extends 'base.html' %}
  {% block head %}
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
  <link href="{{ url_for('static',filename='style.css') }}" rel="stylesheet" type="text/css">
  {% endblock %}
  <script>
      function show_hint() {
        document.getElementById("hint").innerHTML = "Once the e-mail pops up, just hit `Send` and then come back to this windown and hit `RESET` to enter a new project.\n\n";
        reset_button_color = document.getElementById("hint").style.color;
        reset_button_border = document.getElementById("hint").style.border;
        reset_button_boxShadow = document.getElementById("hint").style.boxShadow;
        submit_button_boxShadow = document.getElementById("hint").style.boxShadow;
        // document.getElementById("reset").style.color = "darkgreen";
        // document.getElementById("reset").style.border = "4px solid black";
        document.getElementById("reset").style.boxShadow = "-3px -3px 6px var(--highlight)";
        document.getElementById("submit").style.boxShadow = "-1px -1px 1px var(--highlight)";
      }
    </script>
</head>

<body>
  {% block body %}
<!-- <h3>
  Project Signup Sheet
</h3> -->
<br><br>
<div align="center">
  <form action="/summary_table" method="GET">
    <input type="submit" value="SHOW SUMMARY"></button>
  </form>
</div>
<br><br>
<form action="/" method="POST">
  <div align="center">
      <input id="submit" type="submit" value="SUBMIT">
      <input id="reset" type="reset" value="RESET">
  </div>
  <br>
  <br>
  <fieldset>
    <legend>Project Info</legend>
    <div class="required">
      <p2>Subcontract Job #</p2><br>
      <input type="text" name="job_number" size="6" placeholder="2567" pattern="2\d{3}" title="4-digit number (2###)" required autofocus>
    </div><br>
    <div class="required">
      <p2>Project Title</p2><br>
      <input type="text" name="title" size="35" placeholder="ABC Tower D - Disruptek Office Fit-Up" required>
    </div><br>
    <div class="required">
      <p2>City</p2><br>
      <input type="text" name="city" size="12" placeholder="Ottawa" required>
    </div><br>
    <div class="required">
      <p2>Address</p2><br>
      <input type="text" name="address" size="20" placeholder="123 Fake Street" required>
    </div><br>
    <div class="required">
      <p2>General Contractor</p2><br>
      <input type="text" name="contractor" size="30" placeholder="MegaCon Builders" required>
    </div><br>
      <p2>Consultant</p2><br>
      <input type="text" name="engineer" size="30" placeholder="Superior Associates Limited">
    <br><br>
    <p2>Owner</p2><br>
    <input type="text" name="owner" size="30" placeholder="ASAP Properties Inc.">
    <br><br>
    <p2>Is there a possibility that substantial completion has already been reached?</p2>
    <input type="checkbox" name="instant_scan">
  </fieldset>
  <img src="https://thumbs.gfycat.com/ShadowyThornyGelada-size_restricted.gif">
</form>
{% endblock %}
</body>
</html>
