<!DOCTYPE html>

<html>
<head>
  {% extends 'base.html' %}
  {% block head %}
  {% endblock %}
</head>
<body>
    {% block body %}
    &nbsp;
    <div style="width: 100%; text-align: center; margin-top: -5px">
        <form action="{{ url_for('insights') }}" name = "insights" method="POST">
            <div style="display: inline-block;">
                <div style="float:left">
                <input
                    type="text"
                    id="text_search"
                    name="text_search"
                    size="26"
                    {% if text_search %} value="{{ text_search }}" {% endif %}
                    placeholder="List one or many keywords"
                    autofocus
                    style="
                        float: left;
                        margin-bottom: 5px;
                        margin-left: 5px;
                        border: 1px solid black;
                    "
                    keydown="show_x_clear()">
                <a
                    id='x' 
                    {% if not text_search %}
                        style="font-size: 100%;
                            margin-left: -12px;
                            z-index: 1;
                            display: none;"
                    {% else %}
                        style="font-size: 100%;
                            margin-left: -12px;
                            z-index: 1;
                            display: inline;"
                    {% endif %}
                    onclick="document.getElementById('text_search').value = '';
                        document.getElementById('x').style.display='none';"
                >x</a>
                &emsp;
                </div>
                <div style="float:left; margin-left: 5px;">
                <input type="submit" id="small_button" value="Explore!" style="width: 6em" >
                </div>
            </div>
        </form>
    </div>
    <hr style="border: 1px solid var(--outline);">
    {% if text_search %}
    <div align="center">
        <i>analisys based on {{ wc_count }} projects</i><br>
        {% if wc_search_type %}
            <i>assuming search entity field was mainly </i> <em>{{ wc_search_type }}</em>
        {% endif %}
        <hr style="border: 0.5px solid var(--outline);">
        <div align='center'>
            <img src="static/timeline_{{ wc_id }}.png" alt="..." width=450>
            <iframe src='/get_agg_heatmap' width="225" height="225"></iframe>
            <iframe src='/get_year_lapse_heatmap' width="225" height="225" style='margin-left: 10px;'></iframe>
        </div>
        {% if wc_search_type != 'contractor' %}
            <hr style="border: 0.5px solid var(--outline);">
            <h2 style="font-size: 4vw;"><u>contractors</u></h2>
            <i><img src="static/wordcloud_{{ wc_id }}_contractor.png" alt="Not enough results to generate wordcloud" width=80%></i>
        {% endif %}
        {% if wc_search_type != 'engineer' %}
            <hr style="border: 0.5px solid var(--outline);">
            <h2 style="font-size: 4vw;"><u>certifiers (engineers / architects)</u></h2>
            <i><img src="static/wordcloud_{{ wc_id }}_engineer.png" alt="Not enough results to generate wordcloud" width=80%></i>
        {% endif %}
        {% if wc_search_type != 'owner' %}
            <hr style="border: 0.5px solid var(--outline);">
            <h2 style="font-size: 4vw;"><u>owners</u></h2>
            <i><img src="static/wordcloud_{{ wc_id }}_owner.png" alt="Not enough results to generate wordcloud" width=80%></i>
        {% endif %}
        {% if wc_search_type != 'city' %}
        <hr style="border: 0.5px solid var(--outline);">
        <h2 style="font-size: 4vw;"><u>city / region</u></h2>
        <i><img src="static/wordcloud_{{ wc_id }}_city.png" alt="Not enough results to generate wordcloud" width=80%></i>
        {% endif %}
    </div>
    {% else %}
    <br>
    <P class="blocktext">
        Tons of key industry insights are hiding in Ontario's past 20 years of contracts.
    </P><br><br>
    <P class="blocktext">
        Enter keywords above to started!
    </P>
    {% endif %}
    <script>  
        document.addEventListener('keydown', show_x_clear);
        function show_x_clear(){  
             if(document.getElementById("text_search").value.length > 1){  
                document.getElementById('x').style.display='inline';
             }else{
                document.getElementById('x').style.display='none';
             }  
        }  
    </script>
    {% endblock %}
</body>
</html>
    
