<!DOCTYPE html>

<html>
<head>
  {% extends 'base.html' %}
  {% block head %}
  {% endblock %}
</head>
<P>
    {% block body %}
    <h3 class="blocktext" style="color:rgb(88, 9, 9);">
      Too Many Requests
    </h3>
    <br>
    <P class="blocktext">
      HBR Bot restricts <b>Search</b> and <b>Insight</b> to 3 requests per session for 
      non-registered users. This current ban resets @ <b><span style="color:rgb(88, 9, 9);">
        {{ session.get('limit_expiry').strftime('%-I:%M %p') }}</span>.</b>
    </P>
    <P class="blocktext">
      <a href="{{ url_for('plan_info') }}">Upgrade to a Pro account</a> for unlimited functionality.
    </P>
    {% endblock %}
</body>
</html>
    