<!DOCTYPE html>

<html>
<head>
  {% extends 'base.html' %}
  {% block head %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {% endblock %}
</head>
<body>
    {% block body %}
    &nbsp;
    <div style="width: 100%; text-align: center; margin-top: -5px">
        <form action="{{ url_for('set_location') }}" name = "set_location" method="POST">
            <div style="display: inline-block;">
                <input type="text" name="location_string" size="26" {% if location_string %} value="{{ location_string }}" {% endif %} placeholder="Focus on specific region" autofocus style="float: left; border: 1px solid black; margin-bottom: 5px; margin-left: 5px;">
                &emsp;
                <input type="text" id="text_search" name="text_search" size="26" {% if text_search %} value="{{ text_search }}" {% endif %} placeholder="List one or many keywords" autofocus style="float: left; margin-bottom: 5px; margin-left: 5px; border: 1px solid black" keydown="enable_wordcloud()">
                &emsp;
                <input type="submit" id="small_button" value="Explore!" style="font-size: calc(11px + 0.2vh + 0.4vw); font-weight: bold">
            </div>
            <div style="padding: 5px">
                <span style="font-size: 85%;">
                    <input type="radio" name="result_limit" value="daily" {% if (not result_limit) or (result_limit == 'daily') %} checked {% endif %}> daily
                    <input type="radio" name="result_limit" value="bulk" {% if result_limit == 'bulk' %} checked {% endif %}> bulk
                </span> &nbsp
                <span style="font-size: 85%;">
                    <select name="select_source">
                        <option value="%">--  --  --  --  all sources  --  --  --  --</option>
                        <option value="dcn" {% if select_source == "dcn" %} selected {% endif %}>Daily Commercial News</option>
                        <option value="ocn" {% if select_source == "ocn" %} selected {% endif %}>Ontario Construction News</option>
                        <option value="l2b" {% if select_source == "l2b" %} selected {% endif %}>Link2Build</option>
                    </select>
                </span>
            </div>
        </form>
    </div>
    <hr style="border: 1px solid var(--outline);">
    <div style="width: 100%; text-align: center;">
        <div style="display: inline-block">
        {% if cert_count %}
            {% if (not result_limit) or (result_limit == 'daily') %}
            <form action="{{ url_for('rewind', start_date=start_date, end_date=end_date, start_coords_lat=start_coords_lat, start_coords_lng=start_coords_lng, start_zoom=start_zoom, region_size=region_size, result_limit=result_limit, skip='y', location_string=location_string, text_search=text_search, wordcloud_requested=wordcloud_requested, select_source=select_source) }}" name = "change_date" method="POST" style ='float: left; padding: 5px;'>
                    <input type="submit" id="small_button" value="<- 1y" style="width: 5em">
            </form>
            <form action="{{ url_for('rewind', start_date=start_date, end_date=end_date, start_coords_lat=start_coords_lat, start_coords_lng=start_coords_lng, start_zoom=start_zoom, region_size=region_size, result_limit=result_limit, skip='m', location_string=location_string, text_search=text_search, wordcloud_requested=wordcloud_requested, select_source=select_source) }}" name = "change_date" method="POST" style ='float: left; padding: 5px;'>
                    <input type="submit" id="small_button" value="<- 1m" style="width: 5em">
            </form>
            <form action="{{ url_for('rewind', start_date=start_date, end_date=end_date, start_coords_lat=start_coords_lat, start_coords_lng=start_coords_lng, start_zoom=start_zoom, region_size=region_size, result_limit=result_limit, skip='w', location_string=location_string, text_search=text_search, wordcloud_requested=wordcloud_requested, select_source=select_source) }}" name = "change_date" method="POST" style ='float: left; padding: 5px;'>
                    <input type="submit" id="small_button" value="<- 1w" style="width: 5em">
            </form>
            <form action="{{ url_for('rewind', start_date=start_date, end_date=end_date, start_coords_lat=start_coords_lat, start_coords_lng=start_coords_lng, start_zoom=start_zoom, region_size=region_size, result_limit=result_limit, skip='d', location_string=location_string, text_search=text_search, wordcloud_requested=wordcloud_requested, select_source=select_source) }}" name = "change_date" method="POST" style ='float: left; padding: 5px;'>
                    <input type="submit" id="small_button" value="<- 1d" style="width: 5em">
            </form>
            {% else %}
            <form action="{{ url_for('rewind', start_date=start_date, end_date=end_date, start_coords_lat=start_coords_lat, start_coords_lng=start_coords_lng, start_zoom=start_zoom, region_size=region_size, result_limit=result_limit, location_string=location_string, text_search=text_search, wordcloud_requested=wordcloud_requested, select_source=select_source) }}" name = "change_date" method="POST" style ='float: left; padding: 5px;'>
                <input type="submit" id="small_button" value="<- older" style="width: 5em;">
            </form>
            {% endif %}
            
            <p align="center" style ='float: left; padding: 5px; margin-top:2px'><strong>{{ cert_count }}</strong> CSP's for <strong>{{ start_date }}</strong>{% if result_limit == 'bulk' %} to <strong>{{ end_date }}</strong>{% endif %}</p>
        {% else %}
            <p align="center" style ='float: left; padding: 5px; margin-top:2px'><strong>Entirety of CSP history (> yr2000) has been explored for this region.</strong></p>
        {% endif %}
        </div>
    </div>
    {% include "map_widget.html" %}
    </div>
    <script>  
        document.addEventListener('keydown', enable_wordcloud);
        function enable_wordcloud(){  
             if(document.getElementById("text_search").value.length > 1){  
                 document.getElementById("wordcloud_requested").disabled = false;  
             }else{
               document.getElementById("wordcloud_requested").disabled = true;
               document.getElementById("wordcloud_requested").checked = false;
             }  
        }  
    </script>
    {% endblock %}
</body>
</html>
    
