<!DOCTYPE html>

<html>
<head>
  {% extends 'base.html' %}
  {% block head %}
  {% endblock %}
</head>
<body>
    {% block body %}
    <div style="width: 100%; text-align: center;">
        <div style="display: inline-block">
        <form action="{{ url_for('set_location') }}" name = "set_location" method="POST">
            <input type="text" name="region" size="20" placeholder="Specify a different region" autofocus style="float: left">
            <input type="submit" id="small_button" value="Explore!" style="width: 6em; padding: 5px" >
        </form>
        </div>
    </div>
    <hr>
    <div style="width: 100%; text-align: center;">
        <div style="display: inline-block">
        {% if cert_count %}
            <form action="{{ url_for('rewind', start_date=start_date, end_date=end_date, start_coords_lat=start_coords_lat, start_coords_lng=start_coords_lng, start_zoom=start_zoom, region_size=region_size) }}" name = "change_date" method="POST" style ='float: left; padding: 5px;'>
                <input type="submit" id="small_button" value="<- older" style="width: 5em">
            </form>
            <p align="center" style ='float: left; padding: 5px;'><strong>{{ cert_count }}</strong> CSP's from <strong>{{ start_date }}</strong> to <strong>{{ end_date }}</strong></p>
        {% else %}
            <p align="center" style ='float: left; padding: 5px;'><strong>Entirety of CSP history (> yr2000) has been explored for this region.</strong></p>
        {% endif %}
        </div>
    </div>
    {% include "map_widget.html" %}
    {% endblock %}
</body>
</html>
    