<!DOCTYPE html>

<html>
<head>
  {% extends 'base.html' %}
  {% block head %}
  {% endblock %}
</head>
<body>
    {% block body %}
    <P class="blocktext">
      No corresponding certificates in recent 
      history were found as a match for project #{{job_number}}.<br><br>
      Going forward, the Daily Commercial News website will be 
      scraped on a daily basis in search of your project. 
      HBR Bot will notify you if a potential match comes up.
    </P>
    {% endblock %}
</body>
</html>
    