<!DOCTYPE html>

<html>
<head>
  {% extends 'base.html' %}
  {% block head %}
  <script src="https://js.stripe.com/v3/"></script>
  {% endblock %}
</head>
<body>
    {% block body %}
    <div>
        <P class="blocktext">
            Thanks for signing up, {{ session.get("company_name")}} - you've been authenticated.
        </P>
    </div>
    <br><br>    
    <div>
        <h3 class="blocktext">Final Step: Payment</h3>
        <P class="blocktext">
            No such thing as a free lunch, {{session.get('company_name')}}!
        </P>
    </div>
    <div class="blocktext">
        <button id="large_button" onclick="stripe_call()">pay</button>
    </div>
    <br><br>
    <script>
        function stripe_call() {
            src="https://js.stripe.com/v3/";
            var stripe = Stripe('pk_test_9qMLMNdzlr0dmUJBYkE7lqoN00RtnyTkm8');
            stripe.redirectToCheckout({
            // Make the id field from the Checkout Session creation API response
            // available to this file, so you can provide it as parameter here
            // instead of the {{CHECKOUT_SESSION_ID}} placeholder.
            sessionId: '{{ session_id }}'
            }).then(function (result) {
            // If `redirectToCheckout` fails due to a browser or network
            // error, display the localized error message to your customer
            // using `result.error.message`.
            });
        }
    </script>
    {% endblock %}
</body>
</html>
