<!DOCTYPE html>

<html>
<head>
  {% extends 'base.html' %}
  {% block head %}
  {% endblock %}
</head>
<body>
    {% block body %}
    <P class="blocktext">
        <br><br>
        There's a potential match for project #{{ job_number }}!
        <br><br>
        Go have a look at the <a id="cert_url" href="{{ base_url+url_key }}" value='{{ base_url+url_key }}'>certificate</a>.
    </P>
    <div align=center>
      <br>
      <div display=block>
        <form  action="{{ url_for('process_feedback', job_number=job_number, response=1, url_key=url_key, source=source) }}" method="POST">
          <input type="submit" id="large_button" value="THIS IS THE ONE!" onclick="show_hint()">
        </form>
      </div><br>
      <div display=block>
        <form  action="{{ url_for('process_feedback', job_number=job_number, response=0, url_key=url_key) }}" method="POST">
          <input type="submit" id="large_button" value="NOPE, WRONG PROJECT :(" onclick="show_hint()">
        </form>
      </div><br>
      <div display=block>
        <form  action="{{ url_for('process_feedback', job_number=job_number, response=2, url_key=url_key) }}" method="POST">
          <input type="submit" id="large_button" value="MULTI-PHASE - NOT QUITE RIGHT" onclick="show_hint()">
        </form> 
      </div><br>
    </div>

    {% endblock %}
</body>
</html>
    