<!DOCTYPE html>

<html>
<head>
  {% extends 'base.html' %}
  {% block head %}
  {% endblock %}
</head>
<body>
    {% block body %}
    <br>
    <div align='center'>
      <form action="{{ url_for('project_entry') }}" style='display: inline'>
        <input type='submit' id="small_button" value='NEW JOB' style='width: 100px'>
      </form>
      <form action="{{ url_for('contact_config') }}" style='display: inline'>
        <input type='submit' id="small_button" value='CONFIGURATE CONTACTS' style='width: 220px'>
      </form>
    </div>
    <div class='blocktext-tables'>
      <h3>
        Actively searching for:
      </h3>
      <div class="scrolldf">
      <p>
        {{df_open | safe}}
      </p>
      </div>
      <br>
      <h3>
        Already matched:
      </h3>
      <div class="scrolldf">
      <p>
        {{df_closed | safe}}
      </p>
      </div>
      <p align="center" style="color:rgb(85, 82, 88)"><i>assuming 60-day lien period:</i>  <span style="color:rgb(97, 62, 143)">lien period still in effect</span>  --  <span style="color:black">lien period expired</span></p>
    </div>
    {% endblock %}
</body>
</html>
    
    