<!DOCTYPE html>

<html>
<head>
  {% extends 'base.html' %}
  {% block head %}
  {% endblock %}
</head>
<body>
    {% block body %}
    <div class="blocktext">
        <h3>
            {{ session.get('company_name') }}'s Account
        </h3>
        <!-- TO-DO: add link to change account name -->
    </div>
    <hr style="border: 1px solid black">
    <div class="blocktext">
        <li style="display: inline-block; width: 400px;">
            <strong>e-mail address:</strong> {{ session.get('company_email') }}
        </li>
        <li style="display: inline-block; width: 400px;">
            {% if session.get('account_type') %}
                <strong>account type:</strong> {{ session.get('account_type') }}
            {% else %}
                <ul><a href="{{ url_for('payment') }}">Upgrade account</a></ul>
            {% endif %}
        </li>
    </div>
    <hr style="border: 1px solid black">
    <div>
        <!-- TO-DO: add link to cancel account -->
    </div>
    <br><br>
    {% endblock %}
</body>
</html>
